<% content_for :title, "Novo Veículo" %>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <div class="card shadow-sm">
        <div class="card-header">
          <h4 class="mb-0">Cadastrar Veículo</h4>
        </div>

        <div class="card-body">
          <%= render "form", vehicle: @vehicle %>
        </div>

        <div class="card-footer text-end">
          <%= link_to "Voltar", vehicles_path, class: "btn btn-outline-secondary" %>
        </div>
      </div>

    </div>
  </div>
</div>
